logistics classification only use [pclass], [Passenger fare], [sex]

with varidation

In [2]:
import numpy as np
import pandas as pd

In [19]:
train = pd.read_csv('./data/train.csv', index_col = 'PassengerId')
test = pd.read_csv('./data/test.csv', index_col = 'PassengerId')

submission = pd.read_csv('./data/gender_submission.csv', index_col = 'PassengerId')

In [20]:
train["Sex"] = (train["Sex"] == "male").astype(int)
test["Sex"] = (test["Sex"] == "male").astype(int)

drop unused column
---

In [21]:
train = train.drop(['Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'],1)
train

             Survived  Pclass  Sex     Fare
PassengerId
1                   0       3    1   7.2500
2                   1       1    0  71.2833
3                   1       3    0   7.9250
4                   1       1    0  53.1000
5                   0       3    1   8.0500
...               ...     ...  ...      ...
887                 0       2    1  13.0000
888                 1       1    0  30.0000
889                 0       3    0  23.4500
890                 1       1    1  30.0000
891                 0       3    1   7.7500

[891 rows x 4 columns]

In [22]:
test = test.drop(['Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'],1)
test

             Pclass  Sex      Fare
PassengerId
892               3    1    7.8292
893               3    0    7.0000
894               2    1    9.6875
895               3    1    8.6625
896               3    0   12.2875
...             ...  ...       ...
1305              3    1    8.0500
1306              1    0  108.9000
1307              3    1    7.2500
1308              3    1    8.0500
1309              3    1   22.3583

[418 rows x 3 columns]

import logistics classification
---

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [23]:
x = train[["Pclass", "Sex", "Fare"]]
y = train["Survived"]

x_test = test[["Pclass","Sex", "Fare"]]

fill na with mean
---

In [24]:
x_test = x_test.fillna(x_test.mean())

In [25]:
model = LogisticRegression(random_state=0).fit(x, y)

In [26]:
model.predict(x_test)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [27]:
submission['Survived'] = model.predict(x_test)
submission

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [28]:
submission.to_csv("./submission/submission2.csv")

score : 0.76555
---