logistics classification only use [Passenger fare], [sex]

No varidation

In [3]:
import numpy as np
import pandas as pd

In [46]:
train = pd.read_csv('./data/train.csv', index_col = 'PassengerId')
test = pd.read_csv('./data/test.csv', index_col = 'PassengerId')

submission = pd.read_csv('./data/gender_submission.csv', index_col = 'PassengerId')

In [22]:
train["Sex"] = (train["Sex"] == "male").astype(int)
test["Sex"] = (test["Sex"] == "male").astype(int)

drop unused column
---

In [23]:
train = train.drop(['Pclass', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'],1)
train

             Survived  Sex     Fare
PassengerId
1                   0    1   7.2500
2                   1    0  71.2833
3                   1    0   7.9250
4                   1    0  53.1000
5                   0    1   8.0500
...               ...  ...      ...
887                 0    1  13.0000
888                 1    0  30.0000
889                 0    0  23.4500
890                 1    1  30.0000
891                 0    1   7.7500

[891 rows x 3 columns]

In [24]:
test = test.drop(['Pclass', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'],1)
test

             Sex      Fare
PassengerId
892            1    7.8292
893            0    7.0000
894            1    9.6875
895            1    8.6625
896            0   12.2875
...          ...       ...
1305           1    8.0500
1306           0  108.9000
1307           1    7.2500
1308           1    8.0500
1309           1   22.3583

[418 rows x 2 columns]

import logistics classification
---

In [25]:
from sklearn.linear_model import LogisticRegression

In [42]:
x = train[["Sex", "Fare"]]
y = train["Survived"]

x_test = test[["Sex", "Fare"]]

fill na with mean
---

In [43]:
x_test = x_test.fillna(x_test.mean())

In [44]:
model = LogisticRegression(random_state=0).fit(x, y)

In [45]:
model.predict(x_test)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [50]:
submission['Survived'] = model.predict(x_test)
submission

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [52]:
submission.to_csv("./submission/submission1.csv")

score : 0.75358
---