logistics classification only use [pclass], [Passenger fare], [Parch], [sex]

with varidation

In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('./data/train.csv', index_col = 'PassengerId')
test = pd.read_csv('./data/test.csv', index_col = 'PassengerId')

submission = pd.read_csv('./data/gender_submission.csv', index_col = 'PassengerId')

In [3]:
train["Sex"] = (train["Sex"] == "male").astype(int)
test["Sex"] = (test["Sex"] == "male").astype(int)

drop unused column
---

In [4]:
train = train.drop(['Name', 'Age', 'SibSp', 'Ticket', 'Cabin', 'Embarked'],1)
train

             Survived  Pclass  Sex  Parch     Fare
PassengerId
1                   0       3    1      0   7.2500
2                   1       1    0      0  71.2833
3                   1       3    0      0   7.9250
4                   1       1    0      0  53.1000
5                   0       3    1      0   8.0500
...               ...     ...  ...    ...      ...
887                 0       2    1      0  13.0000
888                 1       1    0      0  30.0000
889                 0       3    0      2  23.4500
890                 1       1    1      0  30.0000
891                 0       3    1      0   7.7500

[891 rows x 5 columns]

In [5]:
test = test.drop(['Name', 'Age', 'SibSp', 'Ticket', 'Cabin', 'Embarked'],1)
test

             Pclass  Sex  Parch      Fare
PassengerId
892               3    1      0    7.8292
893               3    0      0    7.0000
894               2    1      0    9.6875
895               3    1      0    8.6625
896               3    0      1   12.2875
...             ...  ...    ...       ...
1305              3    1      0    8.0500
1306              1    0      0  108.9000
1307              3    1      0    7.2500
1308              3    1      0    8.0500
1309              3    1      1   22.3583

[418 rows x 4 columns]

import logistics classification
---

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [7]:
x = train[["Pclass", "Sex", "Fare","Parch"]]
y = train["Survived"]

x_test = test[["Pclass", "Sex", "Fare","Parch"]]

fill na with mean
---

In [8]:
x_test = x_test.fillna(x_test.mean())

In [9]:
model = LogisticRegression(random_state=0).fit(x, y)

In [10]:
model.predict(x_test)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [11]:
submission['Survived'] = model.predict(x_test)
submission

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [12]:
submission.to_csv("./submission/submission3.csv")

score : 0.76315
---